body {
	background: #ffffff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height:100%;
}

.wrapper {
	width: 800px;
	margin: 30px auto;
	color: #ffffff;
	text-align:center;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#money, #hours, #minutes, #seconds, #tens{
  font-size:2em;
}

button{
	background: #666666;
	color: #ffffff;
	border: solid 1px #dddddd;
	text-decoration:none;
	cursor:pointer;
	font-size:1.2em;
	padding:18px 10px;
	width:180px;
	margin: 10px;
 outline: none;
}
